/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .filterpart{
     width:30%;
     float:left;
 }

 .displaypart{
     width: 70%;
     float:left;
 }